<a href="https://colab.research.google.com/github/swon95/Full-Screnn-Landing-Page/blob/master/n112a_feature_engineering_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# ğŸ“ Assignment

## 1. Feature Engineering

- `KT&G` ê¸°ì—… ë°ì´í„°ë¥¼ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df`ë¡œ ì €ì¥í•˜ì„¸ìš”.

- ê° ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥ ì„ ì§ì ‘ ê³„ì‚°í•´ë³´ì„¸ìš”. 
  - Feature ì´ë¦„ì€ `ì˜ì—…ì´ìµë¥ 2` ì…ë‹ˆë‹¤.

- ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”.
 
 ## $\rm PDR = {ì‹œê°€ì´ì•¡ \over í•´ë‹¹~ê¸°ì—…ì´~í¬í•¨ëœ~ì „ì²´~ì‹œì¥~ê·œëª¨(TAM)~\times~ì‹œì¥ì ìœ ìœ¨}$

  - ë³€ìˆ˜ ì´ë¦„ì€ `df2`, feature ì´ë¦„ì€ `PDR`ë¡œ, `df2['PDR']`ì„ í†µí•´ `~` ê°’ì´ í™•ì¸ ë˜ì–´ì•¼í•©ë‹ˆë‹¤. ì•„ë˜ì˜ ì „ì œì¡°ê±´ì„ í™œìš©í•˜ì„¸ìš”.
  - ì ìœ ìœ¨ (ì¼ë°˜ë‹´ë°° ê¸°ì¤€) 
    - 18ë…„ : 62%
    - 19ë…„ : 63.5% 
  - ì‹œì¥ì˜ ê·œëª¨ 
     - 18ë…„ : 15ì¡° 
     - 19ë…„ : 15ì¡°

||êµ¬ë¶„|ì¢…ê°€|ë°œí–‰ì£¼ì‹ìˆ˜|ì‹œê°€ì´ì•¡|ì‹œì¥ì ìœ ìœ¨|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18ë…„|101500|137292497|13935188445500|62.0|~|
|1|19ë…„|93800|137292497|12878036218600|63.5|~|





- **ê¸ˆì¼ ë¬¸ì œëŠ” ```pd.read_csv ì—ì„œ thousands = ',' ``` ê°’ì„ ì¸ìë¡œ ì£¼ì–´ í’€ë©´ ì•ˆë©ë‹ˆë‹¤.**

In [1]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']

In [2]:
import pandas as pd

df = pd.read_csv(url,names=headers)

df

,ë¶„ê¸°,ë§¤ì¶œì•¡,ì˜ì—…ì´ìµ,ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€),ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ,ë‹¹ê¸°ìˆœì´ìµ,ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°),ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°),ìì‚°ì´ê³„,ë¶€ì±„ì´ê³„,...,íˆ¬ìí™œë™í˜„ê¸ˆíë¦„,ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„,ì˜ì—…ì´ìµë¥,ìˆœì´ìµë¥,ROE(%),ROA(%),ë¶€ì±„ë¹„ìœ¨,ìë³¸ìœ ë³´ìœ¨,EPS(ì›),PER(ë°°)
0,19/6,"12,578","3,991","3,991","4,452","3,245","3,228",17,"108,464","25,940",...,"-1,878","-4,919",31.73,25.80,12.35,9.37,31.43,803.22,"2,351",13.77
1,19/9,"13,222","3,825","3,825","4,503","3,221","3,208",13,"106,314","20,691",...,-83,-329,28.93,24.36,12.67,9.95,24.17,836.86,"2,337",13.87
2,19/12,"11,982","2,523","2,523","1,794","1,183","1,198",-15,"107,121","20,062",...,-501,-129,21.06,9.87,12.39,9.96,23.04,850.82,873,12.42
3,20/3,"11,784","3,150","3,150","4,156","2,939","2,930",9,"108,594","24,862",...,"-1,392",-86,26.73,24.94,13.05,9.79,29.69,823.16,"2,134",9.71
4,20/6,"13,188","3,947","3,947","4,020","2,935","2,931",4,"110,282","23,386",...,-214,"-5,501",29.93,22.25,12.20,9.40,26.91,837.40,"2,135",10.46

In [ ]:
df.dtypes

ë¶„ê¸°             object
ë§¤ì¶œì•¡            object
ì˜ì—…ì´ìµ           object
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)     object
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ       object
ë‹¹ê¸°ìˆœì´ìµ          object
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)      object
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„           object
ë¶€ì±„ì´ê³„           object
ìë³¸ì´ê³„           object
ìë³¸ì´ê³„(ì§€ë°°)       object
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ            object
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„       object
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„       object
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„       object
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)         object
PER(ë°°)        float64
dtype: object

In [3]:
# strì„ intë¡œ ë°”ê¾¸ëŠ” í•¨ìˆ˜
def toint(string) :
    return int(string.replace(',',''))

df['ì˜ì—…ì´ìµ'] = df['ì˜ì—…ì´ìµ'].apply(toint)
df['ë§¤ì¶œì•¡'] = df['ë§¤ì¶œì•¡'].apply(toint)

df['ì˜ì—…ì´ìµìœ¨2'] = df['ì˜ì—…ì´ìµ'] / df['ë§¤ì¶œì•¡'] * 100
df

,ë¶„ê¸°,ë§¤ì¶œì•¡,ì˜ì—…ì´ìµ,ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€),ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ,ë‹¹ê¸°ìˆœì´ìµ,ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°),ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°),ìì‚°ì´ê³„,ë¶€ì±„ì´ê³„,...,ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„,ì˜ì—…ì´ìµë¥,ìˆœì´ìµë¥,ROE(%),ROA(%),ë¶€ì±„ë¹„ìœ¨,ìë³¸ìœ ë³´ìœ¨,EPS(ì›),PER(ë°°),ì˜ì—…ì´ìµìœ¨2
0,19/6,12578,3991,"3,991","4,452","3,245","3,228",17,"108,464","25,940",...,"-4,919",31.73,25.80,12.35,9.37,31.43,803.22,"2,351",13.77,31.730005
1,19/9,13222,3825,"3,825","4,503","3,221","3,208",13,"106,314","20,691",...,-329,28.93,24.36,12.67,9.95,24.17,836.86,"2,337",13.87,28.929058
2,19/12,11982,2523,"2,523","1,794","1,183","1,198",-15,"107,121","20,062",...,-129,21.06,9.87,12.39,9.96,23.04,850.82,873,12.42,21.056585
3,20/3,11784,3150,"3,150","4,156","2,939","2,930",9,"108,594","24,862",...,-86,26.73,24.94,13.05,9.79,29.69,823.16,"2,134",9.71,26.731161
4,20/6,13188,3947,"3,947","4,020","2,935","2,931",4,"110,282","23,386",...,"-5,501",29.93,22.25,12.20,9.40,26.91,837.40,"2,135",10.46,29.928723

In [4]:
# ë°ì´í„°í”„ë ˆì„ ìƒì„±
df2 = pd.DataFrame({'êµ¬ë¶„':['2018ë…„', '2019ë…„'], 'ì¢…ê°€':[101500, 93800], 'ë°œí–‰ì£¼ì‹ìˆ˜':[137292497, 137292497], 'ì‹œê°€ì´ì•¡':[13935188445500, 12878036218600], 'ì‹œì¥ì ìœ ìœ¨(ì¼ë°˜ë‹´ë°° ê¸°ì¤€)':[62.0, 63.5], 'ì‹œì¥ì˜ê·œëª¨':[15000000000000, 15000000000000], 'PDR':['', '']})
df2

,êµ¬ë¶„,ì¢…ê°€,ë°œí–‰ì£¼ì‹ìˆ˜,ì‹œê°€ì´ì•¡,ì‹œì¥ì ìœ ìœ¨(ì¼ë°˜ë‹´ë°° ê¸°ì¤€),ì‹œì¥ì˜ê·œëª¨,PDR
0,2018ë…„,101500,137292497,13935188445500,62.0,15000000000000,
1,2019ë…„,93800,137292497,12878036218600,63.5,15000000000000,

In [9]:
df2['PDR'] = df2['ì‹œê°€ì´ì•¡'] / (df2['ì‹œì¥ì˜ê·œëª¨'] * (df2['ì‹œì¥ì ìœ ìœ¨(ì¼ë°˜ë‹´ë°° ê¸°ì¤€)']/100)) * 100
df2['PDR']

0    149.840736
1    135.202480
Name: PDR, dtype: float64

## 2. String Manipulation

- replaceê°€ ì•„ë‹Œ ë‹¤ë¥¸ ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ 19ë…„ë„ 2ë¶„ê¸°ì˜ ë§¤ì¶œì•¡ ì„ integerë¡œ ë³€ê²½í•˜ì„¸ìš”. ê²°ê³¼ê°’ì€ 12578ì´ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

In [28]:
df

,ë¶„ê¸°,ë§¤ì¶œì•¡,ì˜ì—…ì´ìµ,ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€),ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ,ë‹¹ê¸°ìˆœì´ìµ,ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°),ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°),ìì‚°ì´ê³„,ë¶€ì±„ì´ê³„,...,ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„,ì˜ì—…ì´ìµë¥,ìˆœì´ìµë¥,ROE(%),ROA(%),ë¶€ì±„ë¹„ìœ¨,ìë³¸ìœ ë³´ìœ¨,EPS(ì›),PER(ë°°),ì˜ì—…ì´ìµìœ¨2
0,19/6,12578,3991,"3,991","4,452","3,245","3,228",17,"108,464","25,940",...,"-4,919",31.73,25.80,12.35,9.37,31.43,803.22,"2,351",13.77,31.730005
1,19/9,13222,3825,"3,825","4,503","3,221","3,208",13,"106,314","20,691",...,-329,28.93,24.36,12.67,9.95,24.17,836.86,"2,337",13.87,28.929058
2,19/12,11982,2523,"2,523","1,794","1,183","1,198",-15,"107,121","20,062",...,-129,21.06,9.87,12.39,9.96,23.04,850.82,873,12.42,21.056585
3,20/3,11784,3150,"3,150","4,156","2,939","2,930",9,"108,594","24,862",...,-86,26.73,24.94,13.05,9.79,29.69,823.16,"2,134",9.71,26.731161
4,20/6,13188,3947,"3,947","4,020","2,935","2,931",4,"110,282","23,386",...,"-5,501",29.93,22.25,12.20,9.40,26.91,837.40,"2,135",10.46,29.928723

In [5]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤
df['ë§¤ì¶œì•¡'] = df['ë§¤ì¶œì•¡'].astype(int)

df.iloc[0, 1]

12578

In [34]:
df.dtypes

ë¶„ê¸°             object
ë§¤ì¶œì•¡             int64
ì˜ì—…ì´ìµ            int64
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)     object
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ       object
ë‹¹ê¸°ìˆœì´ìµ          object
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)      object
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„           object
ë¶€ì±„ì´ê³„           object
ìë³¸ì´ê³„           object
ìë³¸ì´ê³„(ì§€ë°°)       object
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ            object
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„       object
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„       object
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„       object
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)         object
PER(ë°°)        float64
ì˜ì—…ì´ìµìœ¨2        float64
dtype: object

## 3. Apply
- ë°ì´í„°ì…‹ì˜ ë¶„ê¸°ë¥¼ ì œì™¸í•œ ëª¨ë“  featureì— ëŒ€í•´ì„œ ìˆ˜ì¹˜í˜• ë°ì´í„° (`int`, `float`) ë¡œ ìˆ˜ì •í•˜ê³ , `describe`ë¥¼ í†µí•´ summary statistics ë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ë‹¨ ê²°ì¸¡ì¹˜ëŠ” `0`ìœ¼ë¡œ ì²˜ë¦¬í•©ë‹ˆë‹¤.

In [6]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤
changes = ["ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)", "ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ", "ë‹¹ê¸°ìˆœì´ìµ", "ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)", 
           "ìì‚°ì´ê³„", "ë¶€ì±„ì´ê³„", "ìë³¸ì´ê³„", "ìë³¸ì´ê³„(ì§€ë°°)", "ìë³¸ê¸ˆ", "ì˜ì—…í™œë™í˜„ê¸ˆíë¦„", "íˆ¬ìí™œë™í˜„ê¸ˆíë¦„", 
           "ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„", "EPS(ì›)" ]

In [12]:
df

,ë¶„ê¸°,ë§¤ì¶œì•¡,ì˜ì—…ì´ìµ,ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€),ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ,ë‹¹ê¸°ìˆœì´ìµ,ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°),ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°),ìì‚°ì´ê³„,ë¶€ì±„ì´ê³„,...,ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„,ì˜ì—…ì´ìµë¥,ìˆœì´ìµë¥,ROE(%),ROA(%),ë¶€ì±„ë¹„ìœ¨,ìë³¸ìœ ë³´ìœ¨,EPS(ì›),PER(ë°°),ì˜ì—…ì´ìµìœ¨2
0,19/6,12578,3991,"3,991","4,452","3,245","3,228",17,"108,464","25,940",...,"-4,919",31.73,25.80,12.35,9.37,31.43,803.22,"2,351",13.77,31.730005
1,19/9,13222,3825,"3,825","4,503","3,221","3,208",13,"106,314","20,691",...,-329,28.93,24.36,12.67,9.95,24.17,836.86,"2,337",13.87,28.929058
2,19/12,11982,2523,"2,523","1,794","1,183","1,198",-15,"107,121","20,062",...,-129,21.06,9.87,12.39,9.96,23.04,850.82,873,12.42,21.056585
3,20/3,11784,3150,"3,150","4,156","2,939","2,930",9,"108,594","24,862",...,-86,26.73,24.94,13.05,9.79,29.69,823.16,"2,134",9.71,26.731161
4,20/6,13188,3947,"3,947","4,020","2,935","2,931",4,"110,282","23,386",...,"-5,501",29.93,22.25,12.20,9.40,26.91,837.40,"2,135",10.46,29.928723

In [11]:
df.dtypes

ë¶„ê¸°             object
ë§¤ì¶œì•¡             int64
ì˜ì—…ì´ìµ            int64
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)     object
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ       object
ë‹¹ê¸°ìˆœì´ìµ          object
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)      object
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„           object
ë¶€ì±„ì´ê³„           object
ìë³¸ì´ê³„           object
ìë³¸ì´ê³„(ì§€ë°°)       object
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ            object
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„       object
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„       object
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„       object
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)         object
PER(ë°°)        float64
ì˜ì—…ì´ìµìœ¨2        float64
dtype: object

In [16]:
# df = df.astype('str')

In [18]:
# ë¶„ëª… íƒ€ì…ì„ str ë¡œ ë°”ê¿”ì„œ object íƒ€ì…ìœ¼ë¡œ í™•ì¸ì´ ë˜ëŠ”ë° ì´ë¯¸ int í˜•ì´ë¼ë©° ë³€í™˜ì´ ë˜ì§€ ì•ŠëŠ”ë‹¤ ì™¤ê¹Œ
# df = df.astype({'ë‹¹ê¸°ìˆœì´ìµ': 'int'})

ValueError: ignored

In [9]:
df4 = df[changes].fillna(0)
for i in changes:
  df4[i]=df4[i].apply(toint)
df4.describe()

,ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€),ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ,ë‹¹ê¸°ìˆœì´ìµ,ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°),ìì‚°ì´ê³„,ë¶€ì±„ì´ê³„,ìë³¸ì´ê³„,ìë³¸ì´ê³„(ì§€ë°°),ìë³¸ê¸ˆ,ì˜ì—…í™œë™í˜„ê¸ˆíë¦„,íˆ¬ìí™œë™í˜„ê¸ˆíë¦„,ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„,EPS(ì›)
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.00000,5.000000,5.0,5.000000,5.000000,5.00000,5.000000
mean,3487.200000,3785.000000,2704.600000,2699.000000,108155.000000,22988.20000,85166.80000,84604.000000,9550.0,2678.200000,-813.600000,-2192.80000,1966.000000
std,636.931079,1131.079131,863.422724,851.338358,1522.396795,2560.38419,1988.82596,1988.427897,0.0,3831.542731,783.981696,2763.51139,619.939513
min,2523.000000,1794.000000,1183.000000,1198.000000,106314.000000,20062.00000,82524.00000,81965.000000,9550.0,-2278.000000,-1878.000000,-5501.00000,873.000000
25%,3150.000000,4020.000000,2935.000000,2930.000000,107121.000000,20691.00000,83732.00000,83170.000000,9550.0,837.000000,-1392.000000,-4919.00000,2134.000000
50%,3825.000000,4156.000000,2939.000000,2931.000000,108464.000000,23386.00000,85623.00000,85049.000000,9550.0,2336.000000,-501.000000,-329.00000,2135.000000
75%,3947.000000,4452.000000,3221.000000,3208.000000,108594.000000,24862.00000,86896.00000,86330.000000,9550.0,4641.000000,-214.000000,-129.00000,2337.000000
max,3991.000000,4503.000000,3245.000000,3228.000000,110282.000000,25940.00000,87059.00000,86506.000000,9550.0,7855.000000,-83.000000,-86.00000,2351.000000

## ğŸ”¥ ë„ì „ê³¼ì œ

### NA Value Handling

- 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´í•˜ì„¸ìš”
- ì´í›„ í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬í•˜ì„¸ìš”.

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤

### Feature Engineering

Relative Perfomance ë¼ëŠ” ìƒˆë¡œìš´ featureë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

ì´ëŠ” ìµœê·¼ 1ë…„ì¹˜ ë§¤ì¶œì•¡ì˜ í‰ê· ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ 

- 10% ì´ìƒ -> `S`
- 5% ì´ìƒ -> `A`
- -5 ~ 5% -> `B`
- -5%ì´í•˜ -> `C`
- 10%ì´í•˜ -> `D`

ë¼ëŠ” ê°’ì„ ê°–ëŠ” featureì…ë‹ˆë‹¤.

20ë…„ë„ 2ë¶„ê¸°ì— í•´ë‹¹í•˜ëŠ” ê²°ê³¼ê°’ì€ `A`ê°€ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

ê°ê°ì— í•´ë‹¹í•˜ëŠ” ë“±ê¸‰ì´ ë‚˜ì˜¤ê¸° ìœ„í•´ì„œ í•„ìš”í•œ ë§¤ì¶œì•¡ì„ ì¶”ê°€ë¡œ ì„œìˆ í•˜ì„¸ìš”.

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤